<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="FanaticMotors.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="NickName" value=""/>
		<add key="Password" value=""/>
	</appSettings>
 <userSettings>
  <FanaticMotors.Properties.Settings>
   <setting name="LOGIN_USER" serializeAs="String">
    <value />
   </setting>
   <setting name="LOGIN_PASSWORD" serializeAs="String">
    <value />
   </setting>
   <setting name="REMEMBER_CREDENTIALS" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LOGGED_IN" serializeAs="String">
    <value>False</value>
   </setting>
  </FanaticMotors.Properties.Settings>
 </userSettings>
</configuration>